body {
    background-color: black;
}

h1, h2 {
    text-align: center;
    color: lime;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h3 {
    text-align: center;
    color: rgb(255, 197, 242);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.container {
    display: flex;
    justify-items: auto;
    /* align-content: center; */
    border: 20px solid black;
}

img.pic1, img.pic2, img.pic3 {
    /* display: flex; */
    display: inline-flexbox;
    width: 100%;
    align-items: center;
}

img.pic1 {
    border: 2px solid black;
}
img.pic2 {
    border: 2px solid black;
}
img.pic3 {
    border: 2px solid black;
}

/* img.pic2 {
    /* display: flex; */
    /* border: 5px dashed blueviolet; 
} */

/* img.pic3 {
    /* display: flex;     */
    /* border: 5px dashed blueviolet
}  */
